<table class="table">
    <thead>
        <th scope="row">ID</th>
        <th scope="row">Name</th>
        <th scope="row">Description</th>
        <th scope="row">Price</th>
        <th scope="row">Stock</th>
        <th scope="row">Create At</th>
        <th scope="row">Actions</th>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>{{fechaConFormato(product.createAt)}}</td>
        <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/update-product', product.id]">Actualizar</button></td>
        <td><button type="button" class="btn btn-outline-danger" (click)="  deleteProduct(product)">Delete</button></td>
      </tr>
    </tbody>
  </table>