<div class="row mt-5">
      <div class="col-md-4 offset-md-3">
        <form [formGroup]="form" (ngSubmit)="formSubmit()">
          <h2 class="text-center mb-3">Actualizar Producto</h2>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)" class="text-danger">
              El nombre es obligatorio.
            </div>
          </div>
  
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
            <div *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)" class="text-danger">
              La descripción es obligatoria.
            </div>
          </div>
  
          <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" id="price" formControlName="price">
            <div *ngIf="form.get('price')?.invalid && (form.get('price')?.dirty || form.get('price')?.touched)" class="text-danger">
              El precio es obligatorio.
            </div>
          </div>
  
          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" formControlName="stock">
            <div *ngIf="form.get('stock')?.invalid && (form.get('stock')?.dirty || form.get('stock')?.touched)" class="text-danger">
              El stock es obligatorio.
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
          
        </form>
      </div>
    </div>
