<div class="row justify-content-center align-items-center mt-5 mb-3">
    <div class="col-6">
      <h1 class="text-center">Lista de productos</h1>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-outline-success" [routerLink]="['add-product']">Agregar Producto</button>
    </div>
  </div>
<app-product-table></app-product-table>
